<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d{dd MMM yyyy HH:mm:ss} %-5p [%t] - %-60m     [%C{-3}.%M (%F:%L)]%n </Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/appTest.log">
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d{dd MMM yyyy HH:mm:ss} %-5p [%t] – %-60m     [%C{-3}.%M (%F:%L)]%n</Pattern>
            </PatternLayout>
        </File>
    </appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</configuration>